<div class="border rounded-xl p-4">

  <!-- head -->
  <div class="flex justify-between items-center">
    <%= link_to start_spam_path(message), class: "flex items-center space-x-2" do %>
      <%= image_tag message.image.variant(resize_to_limit: [32, 32]) %>
      <div>
        <%= tag.p message.caption, class: "font-bold" %>
        <%= tag.p time_ago_in_words(message.created_at) %>
      </div>
    <% end %>
    <%= link_to message_path(message), class: "flex-none w-4 text-center", data: { turbo_confirm: "Are you sure?", turbo_method: :delete } do %>
      <i class="fa-solid fa-trash text-base text-rose-500"></i>
    <% end %>
  </div>

</div>