<%= simple_form_for user, url: registration_path do |f| %>

  <%= f.input :username, placeholder: "UserName" %>
  <%= f.input :password, placeholder: "Password" %>
  <%= f.input :password_confirmation, placeholder: "Password Confirmation" %>

  <div></div>

  <%= f.button :submit, "Submit" %>

<% end %>